/* -------------- =LAYOUT -------------- */
/* margin, height, width etc */

/*Hidden*/
.hidden{display:none;}

/* -------------- =SETUP -------------- */
.page {
  width: 1020px;
  margin: 0 auto;
}


/* -------------- =CONTENT -------------- */

//BODY IMAGES
.content-image{
  margin: 0 20px 15px 0;
  float:left;
}

a.image-wrap{
  margin: 0 20px 20px 0;
  float:left;
  position: relative;
  display: block;
  .content-image{
    margin: 0;
    float:none;
  }
}

span.mag{
  position: absolute;
  bottom: 0;
  right: 0;
}

//BLOCKQUOTE
.main-content blockquote{padding: 10px 30px 10px 30px;}

//Lists
ul, ol{ padding: 0 0 10px 0;
  li{ margin: 0 0 10px 20px;
    ul, ol{ padding: 10px 0 0 0;
       li{margin: 0 0 10px 40px;}
    } //ul, ol
  } //li
} //ul, ol

//TABLES
table{
  width: 100%;
  table-layout:fixed;
  margin-bottom: 10px;
  margin: 20px 0 30px 0;
  tr td{padding: 10px;}
  thead tr td {padding: 10px;}
}

/* -------------- =HEADER -------------- */

/* -------------- =NAVIGATION -------------- */
nav{
  ul li{
    float:left;
    margin-left: 10px;
    padding-left: 10px;
    &:first-child{padding: 0;margin:0;}
  }
} //nav

/* -------------- =TEMPLATES -------------- */

//CONTENT
.content{position:relative;}

.main-content {
  width: 460px;
  margin: 0 20px;
  float:right;
  position:relative;
  right: 220px;
}

.supporting-content {
  width: 220px;
  float:left;
}

.supplementary-content {
  width: 220px;
  float:right;
  position:relative;
  left: 500px;
}

//Landing Page
.landing_page {
  .main-content{
    width: 700px;
    margin: 0 0 0 20px;
    float: right;
    left: 0;
    position: relative;
  }
  .supporting-content {padding: 0;}
}



/* -------------- =ARTICLES -------------- */

//LIST 
#articles {
  padding-bottom: 0;
  margin-bottom: 0;
  li{
    margin-bottom: 20px;
    .article-image{
      float:left;
      margin: 0 20px 0 0;
    }//.article-image
    
    .article-content{
      overflow:hidden;
      h2{margin-bottom: 6px;}
    }//.article-content
    
  }//li
}//#articles

// COMPONENTS
.related-articles, .latest-articles, .categories, .archive{
  ul li{
    padding-bottom: 1px;
    clear:both;
    a{
      display: block;
      padding: 12px 10px 10px 10px;
    }
  }
}
.related-articles, .latest-articles{
  ul li a time{
    display:block;
    display: block;
    padding: 6px 0 4px;
  }
}

.archive {
  ul#archive-list{
    li{
      padding: 12px 10px 10px 10px;
      a{
        display: block;
        padding: 0 0 2px 0;
      }
      ul{
        padding: 0;
        li {
          padding: 4px 0 2px 20px;
          margin: 0;
          a{padding:0;}
        }//li 
      }//ul
    }//li
  } //ul
}//.archive


// PAGINATION
.pagination{
  height: 24px;
  display: block;
  padding: 7px 20px 0 20px;
  margin: 0 0 20px 0;
  text-align:center;
  span, em, a{line-height:1;}
  .first_page, .last_page{display:none;}
  .previous_page{float:left;}
  .next_page{ float:right;}
}//.pagination


/* -------------- =COMPONENTS -------------- */
.component{
	
	//GENERAL CONTENT
	&.general-content{
	  h2{margin-bottom: 18px;}
	  a.image-link{margin-bottom: 18px;display:block;}
	  div{margin-bottom: 10px;}
	} //general-content
	
    //PROMO DRIVER
    &.promo-driver a{display:block;}
     
    //QUOTE
    &.quote{
      blockquote{
        margin:0;
        padding:0 0 0 30px;
      }
      .author{
        margin:0;
        padding:0 0 0 30px;
      }
    } //quote
	
    //DOWNLOADS
    &.downloads{
      ul li{
        a{
          display: block;
          padding: 15px 10px 10px 56px;
          .title{display:block;margin-bottom: 5px;}
          .size{display: block;}
        }
      }
    }//downloads
	
    // GALLERY
    &.gallery{
      .carousel-wrap{
        width: 162px;
        padding: 0 29px;
        margin: 15px 0;
        position: relative;
        .carousel{
          width: 162px !important;
          ul{
            padding: 0;
            li{
              padding: 0;
              width: 162px !important;
              height: 162px !important;
              margin: 0 !important;
              a{
                display:block;
                position: relative;
              } //a
            } //li
          } //ul
        }//.carousel
        .carousel-control {
          position: absolute;
          top: 59px;
          z-index: 800;
          &.prev{left: 0px;}
          &.next{right: 0px;}
        } //.carousel-contro
      }//.carousel-wrap
    }//gallery
	
	
	

	
  
  //  --------LARGE / DOUBLE COMPONENTS
  &.large, &.double{
      width: 460px;
	  
      //GENERAL CONTENT
      &.general-content{
        a.image-link{float:left;margin: 0 20px 18px 0;display:block;}
      }//general-content
	  
	  
      // GALLERY
      &.gallery{
        .carousel-wrap{
          width: 396px;
          padding:  0 32px;
          .carousel{
            width: 396px !important;
            ul{
              li{
                margin: 0 5px;
                width: 125px !important;
                height: 125px !important;
                a{
                  width: 125px !important;
                  height: 125px !important;
                }
              } //li
            } //ul
          }//.carousel
          .carousel-control {top: 40px;}
        }//.carousel-wrap
      }//gallery  
  
  } //.large, .double
  
} //.component

//ROWS
.row{
  padding-bottom: 20px;
  .component{
    width: 220px;
    float:left;
    margin-left: 20px;
    &:first-child{margin-left:0;}
    &.double, &.large{width: 460px;}
  }//.compoent
} //.row

/* -------------- =FOOTER -------------- */

/* -------------- =ERRORS -------------- */

/* -------------- =JS -------------- */

/* -------------- =CLEARFIX -------------- */

nav ul:after,
.content:after,
.form-wrap:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
