/* -------------- =SKIN -------------- */
/* color, background etc */

/* -------------- =SETUP -------------- */
//@ Imports 
@import "compass/css3";
@import "base";

/* -------------- =CONTENT -------------- */
//Links
a {
  color: $link;
  &:link {text-decoration:none;  }
  &:visited{text-decoration:none;}
  &:hover {
    color: $rollover;
    text-decoration: none;
  }
  &:active{text-decoration: none;}
}

//Table
table {
  tr{
    &:first-child td {border-top:0;}
    td{
      border-top: solid 1px $body;
      border-left: solid 1px $body;
      &:first-child{border-left: 0;}
     } //td
  } //tr
   thead tr td {background: $rollover;}
} //table



/* -------------- =HEADER -------------- */

/* -------------- =NAVIGATION -------------- */
nav ul li {@include list_style_none;}

/* -------------- =TEMPLATES -------------- */

/* -------------- =ARTICLES -------------- */

/* =Comments */

/* =Pagination */

/* -------------- =COMPONENTS -------------- */
//.component{
//  
//  //  --------LARGE COMPONENTS
//  &.large{
//  
//  }
//  //  --------MEGA COMPONENTS
//  &.mega {
//   
//  }
//  
//}

/* -------------- =FOOTER -------------- */

/* -------------- =ERRORS -------------- */

/* -------------- =JS -------------- */

/* ------------- =IMAGE REPLACEMENT  --------------- */
.site-title a,
a.rss{
  overflow: hidden;
  text-align: left;
  display: block;
  line-height:0;
  text-indent: -1000em;
}

.site-title a{
  width: 126px;
  height: 99px;
  background:image-url("logo.png") 0 0 no-repeat;
}

a.rss{
  width: 13px;
  height: 13px;
  background:image-url("rss.gif") 0 0 no-repeat;
}


